<h1>Add Pet</h1>

<div fxLayout="row" fxLayoutAlign="center">
  <mat-card fxFlex="33">

    <form [formGroup]="petForm" (ngSubmit)="save()">
      <div fxLayout="column">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Pet Type:" formControlName="petType">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Birth Date:" formControlName="birthDate">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Sold Date:" formControlName="soldDate">
        </mat-form-field>

        <mat-form-field>
         <input matInput placeholder="Price:" formControlName="price">
        </mat-form-field>

      <button style="position: absolute; right: 15px" mat-raised-button color="primary" type="submit">Save</button>
    </div>
  </form>
  </mat-card>
</div>
<button style="position: absolute; right: 15px" mat-raised-button color="primary" routerLink="/pets">Back</button>
