<h1>Owner Details</h1>
<div *ngIf="owner">
  <mat-card>
    <mat-card-content>
      <p>Id: {{owner.id}}</p>
      <p>Name: {{owner.firstName}} {{owner.lastName}}</p>
      <p>Address: {{owner.address}}</p>
      <p>Email: {{owner.email}}</p>
      <p>Phone number:{{owner.phoneNumber}}</p>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!owner">
  <h2>Owner not found!</h2>
</div>
<button style="position: absolute; right: 15px" mat-raised-button color="primary" routerLink="/owners">Back</button>
