<h1>Pet Details</h1>

<div *ngIf="pet">
  <mat-card>
    <mat-card-content>
      <p>Id: {{pet.id}}</p>
      <p>Name: {{pet.name}} </p>
      <p>Type {{pet.petType}}</p>
      <p>Price: {{pet.price}}</p>
      <p>Birth Date:{{pet.birthDate}}</p>
      <p>Sold Date: {{pet.soldDate}}</p>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="!pet">
  <h2>Pet not found!</h2>
</div>
<button style="position: absolute; right: 15px" mat-raised-button color="primary" routerLink="/pets">Back</button>

